div.bp3-dark#main {
  background-color: #3c3c3c;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div#main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  grid-template-columns: max-content auto max-content;
  grid-template-rows: max-content 1fr 1fr max-content;

  grid-template-areas:
    "topbar       topbar    topbar"
    "filemanager  editor    input"
    "filemanager  editor    output"
    "debugger     debugger  debugger";
}

div#loading_spinner {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: fit-content;
}

div#topbar {
  grid-area: topbar;
  min-height: 50px;
  padding: 2px;
}

div#topbar1 {
  width: 98vw;
  display: flex;
  font-weight: bold;
  font-size: 1.5em;
  align-items: center;
}

div#topbar1 > * {
  height: fit-content;
}

div#contestname {
  flex-grow: 1;
}

div#countdown {
  flex-grow: 1;
  font-size: 1.5em;
}

div#tasklist {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  justify-content: center;
}

div#tasklist > * {
  margin: 3px;
}

div#filemanager {
  grid-area: filemanager;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

div#maincontrols {
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2px;
}

div#debuggingcontrols {
  justify-content: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2px;
}

.submitbutton {
  margin: 5px 0;
}

div#fileview {
  flex-grow: 1;
}

div#input {
  grid-area: input;
  min-width: max(300px, 15vw);
  height: 100%;
  padding: 2px;
}

div#input>textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

div#output {
  grid-area: output;
  height: 100%;
  max-height: 45vh;
  overflow: scroll;
  padding: 2px;
  min-width: max(300px, 15vw);
}

div#editor {
  grid-area: editor;
  min-width: 50vw;
  width: 100%;
  height: 100%;
}

div#editor>:first-child {
  height: 100%;
}

div#debugger_bar {
  grid-area: debugger;
}
